<div class="row">
    <div class="col-xs-12">
        <img src="{{recipeDetails.imgPath}}" alt="{{recipeDetails.name}}" 
        class="img-responsive" style="max-height: 300px; width: 150px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>RecipeName</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appAppDropDown>
            <button type="button"
            class="btn btn-primary dropsdown-toggle">
            Manage Recipe<span class="caret">
            </span>
            </button>
            <ul class="dropdown-menu">
                <li> <a (click)="onAddToShoppingList()" style="cursor: pointer;" >To Shopping List</a></li>
                <li> <a style="cursor: pointer;" (click)="onEditRecipe()" >Edit Recipe</a></li>
                <li> <a style="cursor: pointer;" >Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       {{recipeDetails.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <li class="list-group-item"
        *ngFor="let ingredient of recipeDetails.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}

        </li>
    </div>
</div>